<div class="auth__modal-backdrop is-hidden">
    <div class="auth-container">
  <div class="form-wrapper" id="wrapper-login">
    <div class="content-wrapper" id="content-signin">
        <p class="form-greeting" data-lng="FormGreeting">Hello!</p>
        <form class="form-login form-signin" name="checkboxlog" checked>
          <input type="email" name="email" placeholder="Email" class="input-email" data-lng="Email" required/>
            <input type="password" name="password" placeholder="Password" data-lng="Password" class="input-password" required/>
            <button type="submit" class="btn-login" data-lng="BtnModalIn">LOGIN</button>
        </form>
        <p class="auth-form-text" data-lng="FormText">No account?</p> <a data-lng="ModalUp" class='link-to-signup' href="#wrapper-signup">Sign up</a>
        <div class="signin-modal__error"></div>
      </div>
  </div>
  <div class="form-wrapper visually-hidden" id="wrapper-signup">
    <div class="content-wrapper" id="content-signup">
        <p class="form-greeting" data-lng="FormJoin">Join us!</p>
        <form class="form-login form-signup">
            <input type="email" name="email" placeholder="Email" class="input-email input-email--reg" data-lng="Email" required/>
            <input type="text" name="username" placeholder="Username" class="input-username" data-lng="FullName" />
            <input type="password" name="password" placeholder="Password" class="input-password input-password--reg" data-lng="Password" required/>
            <button type="submit" class="btn-signup" data-lng="BtnRegistrationg">SIGN UP</button>
        </form>
        <p class="auth-form-text" data-lng="FormTextSignup">Got account? </p><a  data-lng="ModalIn" class='link-to-signin' href="#wrapper-login">Sign in</a>
        <div class="signup-modal__error"></div>
      </div>
  </div>
  </div>
  </div>
  