.header-home-bgi {
  height: 230px;
 
  @include bgi('../images/header-home-page/header-bg-main-mobile.jpg');
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      @include bgi('../images/header-home-page/header-bg-main-mobile@2x.jpg');
    }
  
  @media screen and (min-width: $tablet) {
    @include bgi('../images/header-home-page/header-bg-main-tablet.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        @include bgi('../images/header-home-page/header-bg-main-tablet@2x.jpg');
      }
  }

  @media screen and (min-width: $desktop) {
    @include bgi('../images/header-home-page/header-bg-main-desktop.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        @include bgi('../images/header-home-page/header-bg-main-desktop@2x.jpg');
      }
  }
}

.search-form {
  display: flex;
  align-items: center;
 
  margin: 0 auto 25px;
  max-width: auto;
  border-bottom: 1px solid $secondary-color;
  @media screen and (min-width: $mobile) {
    width: 280px;
  }
  @media screen and (min-width: $tablet) {
    width: 336px;
  }
}

.search-field {
  width: 100%;
  @include font(400, 14px, 1.14);
  background-color: transparent;
  border: none;
  color: $secondary-color;

  &::placeholder {
    color: $secondary-color;
  }

  &:focus {
    outline: none;

    &::placeholder {
      color: $accent-color;
    }
  }
}

.search-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  color: $secondary-color;

  .search-field:focus ~ & {
    color: $accent-color;
  }
}
.header__lang {
  position: absolute;
  left: 15px;
  bottom: 5px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
&:hover{
  background-color: $accent-color;
}
  @media screen and (min-width: $tablet) {
    left: 50px;
    top: auto;
  }
  &--item {
    color: #000000;
    background-color: $accent-color;
}
}